body {
	margin: 0;
	font: 14px "Helvetica Neue", helvetica;
	overflow: none;
}

.hud {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.chat-panels {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex: 1 1 auto;
}

.panel {
	position: relative;
	flex: 1 1 100%;
	border-right: 1px solid hsla( 0, 0%, 80%, 1);
}

.queue-list {
	flex: 0 1 30%;
	align-self: strecth;
	border-right: 1px solid hsla( 0, 0%, 80%, 1);
	overflow: auto;
}
