body {
	margin: 0;
	font: 14px "Helvetica Neue", helvetica;
	overflow: none;
}


.chat-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: space-around;
}

.identify-form {
	border-radius: 2px;
	padding: 10px;
	border: 1px solid hsla( 0, 0, 80%, 1.0 );
	align-self: center;

	input {
		font-size: 24px;
		border: none;
	}

	input[type=button] {
		background: hsla( 200, 50, 50%, 1.0 );
		color: hsla( 0,0, 100%, 1.0 );

		&[disabled] {
			opacity: 0.2;
		}

	}

}