body {
	margin: 0;
	font: 14px "Helvetica Neue", helvetica;
	overflow: none;
}


.chat-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: space-around;
}

.identify-form {
	border-radius: 2px;
	padding: 10px;
	border: 1px solid hsla( 0, 0, 80%, 1.0 );
	align-self: center;

	input {
		font-size: 24px;
		border: none;
	}

	input[type=button] {
		background: hsla( 200, 50%, 50%, 1.0 );
		color: hsla( 0,0, 100%, 1.0 );

		&[disabled] {
			opacity: 0.2;
		}

	}

}

.loading-indicator {
	flex: 1 1 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.throbber {
	width: 24px;
	height: 24px;
	background: hsla( 200, 50%, 50%, 1.0 );
	border-radius: 24px;
	animation: throbber 1s infinite;
}

@keyframes throbber {
	0% {
		transform: scale( 0, 0 );
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: scale( 1, 1 );
		opacity: 0;
	}
}